@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;

@layer animations {
    .animate-textroll {
        background-position: 0%;
        background-size: 200%;
        animation: flow 5s cubic-bezier(0.215, 0.610, 0.355, 1) infinite;
    }

    @keyframes flow {
        0% {
            background-position: left;
        }
        50% {
            background-position: right;
        }
        100% {
            background-position: left;
        }
    }
}